.custom-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 30px;
  width: 700px;
  padding: 0 15px;
  background-color: transparent;
  border: 1px solid #e5e5e5;
}
